@page
@model TrainMediator.Pages.CompraModel
@{
    ViewData["Title"] = "Compra de cachorro";
}

<div>
    <p>Escolha um cachorro para comprar abaixo:</p>
</div>

<div>
    <p>Cachorro bonito serelepe:</p>
    <img src="img/cachorro1.jpg" />
</div>
<div>
    <p>Cachorro pidão:</p>
    <img src="img/cachorro2.jpg" />
</div>
<div>
    <p>Cachorro sem vergonha:</p>
    <img src="img/cachorro3.jpg" />
</div>
