@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Ola! seja bem vindo a minha loja de cachorros bonitos</h1>
    <p>Clique aqui para ver minha linda seleção: <a asp-page="Compra">Seleção cachorros</a>.</p>
</div>
